{% extends 'base.html' %}
{% block home_class %}active{% endblock %}
{% block content %}

    <div id="actionpage">
        <div class="actiontitle sedan-sc"><span>The Kingdom Project</span></div>
        <div class="actionverse sedan-sc"><span>“Seek first <span class="accentcolor">the kingdom of God</span> and His righteousness, and all these things will be added to you.”</span></div>
    </div>
    <div id="missionblurb">

    </div>
    <div id="index-recentarticles">

    </div>

{% endblock %}